@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-2);
    background-image: url(/storage/img/texture.svg);
    background-position: 0px -100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.home__top{
    color: var(--color-1);

    display: flex;
    flex-direction: column;

    /* background-color: red; */
    margin: 20px;

    gap: 20px;
}
.home__top__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* background-color: blue; */
}
.home__top__head__nameBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    /* background-color: violet; */
}
.logo{
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 2rem;
}
.name{
    font-family: "SF_Pro_Text_Heavy";
}
.home__top__head__option{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__top__head__option img{
    height: 2rem;
}
.home__top__greetings{
    /* background-color: orange; */
    margin-left: 20px;
    margin-right: 20px;
}
.home__top__greetings__HI{
    font-family: "SF_Pro_Text_Heavy";
    font-size: 2rem;
}
.home__top__greetings__USER{
    font-family: "SF_Pro_Text_Light";
    font-size: 1.5rem;
}
.home__top__balance{
    /* background-color: olive; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 20px;
    margin-right: 20px;
}
.home__top__balance__SAVINGS{
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
    
}
.home__top__balance__ASSETS{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}
.home__top__balance__BOXbar{
    background-color: var(--color-1);
    border-radius: 5px;
    height: 10px;
    /* width: 150px; */
}
.home__top__balance__BOXbar_content1{
    background-color: var(--color-3);
    border-radius: 5px;
    height: 10px;
    width: 80%;
}
.home__top__balance__BOXbar_content2{
    background-color: var(--color-4);
    border-radius: 5px;
    height: 10px;
    width: 40%;
}
.home__top__balance__TITLE{
    font-family: "SF_Pro_Text_Light";
}
.home__top__balance__PRICE{
    font-family: "Roboto_Bold";
}










main{
    /* background-color: red; */

    color: var(--color-1);

    display: flex;
    flex-direction: column;

    /* margin: 20px; */
    gap: 20px;
}
.home__main{
    background-color: var(--color-1);

    display: flex;
    flex-direction: column;    
    /* padding: 20px; */
    border-radius: 20px 20px 0 0;
}
.home__main__Activities_title{
    /* background-color: orange; */
    padding: 20px;
}
.home__main__Activities_title h2{
    font-family: "SF_Pro_Text_Bold";
    color: var(--color-2);
}
.home__main__bottons{

    background-color: orange;

    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;

    height: 150px;
}
.botton__Activities{
    background-color: var(--color-1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 25vw;

    padding-top: 20px;
    padding-bottom: 20px;

    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px var(--color-2);

    color: var(--color-2);
}
.home__main__bottons__Activities__text span{
    font-family: "SF_Pro_Text_SemiBold";
}
.home__main__transactions_title{
    /* background-color: orange; */
    padding: 20px;
}
.home__main__transactions_title h2{
    font-family: "SF_Pro_Text_Bold";
    color: var(--color-2);
}