@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-2);
    background-image: url(/storage/img/texture.svg);
    background-position: 0px -100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.home__top{
    color: var(--color-1);

    display: flex;
    flex-direction: column;

    /* background-color: red; */
    margin: 20px;

    gap: 20px;
}
.home__top__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* background-color: blue; */
}
.home__top__head__nameBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    /* background-color: violet; */
}
.logo{
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 2rem;
}
.name{
    font-family: "SF_Pro_Text_Heavy";
}
.home__top__head__option{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__top__head__option img{
    height: 2rem;
}
.home__top__greetings{
    /* background-color: orange; */
    margin-left: 20px;
    margin-right: 20px;
}
.home__top__greetings__HI{
    font-family: "SF_Pro_Text_Heavy";
    font-size: 2rem;
}
.home__top__greetings__USER{
    font-family: "SF_Pro_Text_Light";
    font-size: 1.5rem;
}
.home__top__balance{
    /* background-color: olive; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 20px;
    margin-right: 20px;
}
.home__top__balance__SAVINGS{
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
    
}
.home__top__balance__ASSETS{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}
.home__top__balance__BOXbar{
    background-color: var(--color-1);
    border-radius: 5px;
    height: 10px;
    /* width: 150px; */
}
.home__top__balance__BOXbar_content1{
    background-color: var(--color-3);
    border-radius: 5px;
    height: 10px;
    width: 80%;
}
.home__top__balance__BOXbar_content2{
    background-color: var(--color-4);
    border-radius: 5px;
    height: 10px;
    width: 40%;
}
.home__top__balance__TITLE{
    font-family: "SF_Pro_Text_Light";
}
.home__top__balance__PRICE{
    font-family: "Roboto_Bold";
}










main{
    /* background-color: red; */

    color: var(--color-1);

    display: flex;
    flex-direction: column;

    /* margin: 20px; */
    gap: 20px;
}
.home__main{
    background-color: yellowgreen;

    display: flex;
    flex-direction: column;    
    padding: 20px;
    gap: 30px;
    border-radius: 20px 20px 0 0;
}
.home__main__bottons{

    background-color: aquamarine;

    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
}
.home__main__bottons__Account{
    background-color: var(--color-1);
}
.home__main__bottons__Privacy{
    background-color: var(--color-1);
}
.home__main__bottons__Help{
    background-color: var(--color-1);
}