:root{

    --color-1:#FFF;
    --color-2:#010D00;
    --color-3:#2C733D;
    --color-4:#358C4B;
    --color-5:#98eead;

}

@font-face {
    font-family: "SF_Pro_Text_Bold";
    src: url(../storage/font/SF-Pro-Text-Bold.ttf);
}

@font-face {
    font-family: "SF_Pro_Text_SemiBold";
    src: url(../storage/font/SF-Pro-Text-Semibold.ttf)
}

@font-face {
    font-family: "SF_Pro_Text_Heavy";
    src: url(../storage/font/SF-Pro-Text-Heavy.ttf);
}

@font-face {
    font-family: "SF_Pro_Text_Regular";
    src: url(../storage/font//Roboto-Regular.ttf);
}

@font-face {
    font-family: "SF_Pro_Text_Medium";
    src: url(../storage/font/SF-Pro-Text-Medium.ttf);
}

@font-face {
    font-family: "Roboto_Bold";
    src: url(../storage/font/Roboto-Bold.ttf);
}