<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
    <link rel="stylesheet" href="../css/balance.css">

</head>
<body>
    
    <section class="header__background">


        <header>
            <section class="home__top">


                <section class="home__top__head">
                    
                    <figure class="home__top__head__nameBox">
                        <div class="logo"><img src="../storage/img/logo.svg"></div>
                        <div class="name"><h1>INVETO</h1></div>
                    </figure>
                    <div class="home__top__head__option">
                        <a href="#"><img src="../storage/img/iconOption.svg"></a>
                    </div>
                </section>

                <section class="home__top__totalBalance">
                    <section class="home__top__totalBalance__circle">
                        <div class="home__top__totalBalance__title">
                            <h2>total</h2>
                            <h2>balance</h2>
                        </div>
                        <div class="home__top__totalBalance__price">
                            <span>$</span>
                            <h2>214,417</h2> 
                        </div>
                    </section>
                </section>

            </header>





            <main class="main">

                <section class="main__graphic__sections">
                        <section class="main__bottons">
                            <div class="main__bottons__Assets"><a href="#">Assets</a></div>
                            <div class="main__bottons__Debt"><a href="#">debt</a></div>
                            <div class="main__bottons__Income"><a href="#">income </a></div>
                        </section>

                    <section class="main__graphics">

                        <div class="main__graphics__image"><img src="../storage/img/graphic.svg"></div>
                        <article class="main__graphics__days">
                            <div><h3>S</h3></div>
                            <div><h3>M</h3></div>
                            <div><h3>T</h3></div>
                            <div><h3>W</h3></div>
                            <div><h3>T</h3></div>
                            <div><h3>F</h3></div>
                            <div><h3>S</h3></div>
                        </article>
                    </section>

                </section>



                <section class="main__publish__section">

                    <section class="main__publish__section__exit">
                        <img src="../storage/img/xicon.svg">
                    </section>

                    <section class="main__publish__section__info">

                        <div class="main__publish__section__info__img">
                            <img src="../storage/img/iconCreditCard.svg"></div>
                        
                        <div class="main__publish__section__info__text">                        
                            <h2>spending.</h2>
                            <small>You forgot to add debt card number at payment #1323. Add it now.</small>
                        </div>

                    </section>
                </sectioncl>

            </main>
            

    </section>











    <footer class="home__footer">

        <a class="home__footer__iconbox" href="#">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconHome.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="home__footer__iconbox" href="../views/balance.html">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconBalanceGreen.svg"></div>
            <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div>
        </a>

        <a class="home__footer__iconbox" href="../views/creditCards.html">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconCategory.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>
 
        <a class="home__footer__iconbox" href="#">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconNotification.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="home__footer__iconbox" href="../index.html">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconProfile.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>
    </footer>
</body>
</html>