<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
    <link rel="stylesheet" href="../css/balance.css">

</head>
<body>
    


    <footer class="home__footer">

        <a class="home__footer__iconbox" href="#">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconHome.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="home__footer__iconbox" href="../views/balance.html">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconBalanceGreen.svg"></div>
            <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div>
        </a>

        <a class="home__footer__iconbox" href="../views/creditCards.html">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconCategory.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>
 
        <a class="home__footer__iconbox" href="#">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconNotification.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="home__footer__iconbox" href="../index.html">
            <div class="home__footer__iconbox__icon"><img src="../storage/img/iconProfile.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>
    </footer>
</body>
</html>