<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit cards</title>
    <link rel="stylesheet" href="../css/creditCards.css">

</head>
<body>
    
    <header>

        <section class="credit__cards__top">


            <section class="credit__cards__top__head">
                
                <figure class="credit__cards__top__head__nameBox">
                    <div class="logo"><img src="../storage/img/logoObscure.svg"></div>
                    <div class="name"><h1>INVETO</h1></div>
                </figure>
                <div class="credit__cards__top__head__option">
                    <a href="#"><img src="../storage/img/iconOptionObscure.svg"></a>
                </div>
            </section>

    </header>


    <main class="main">


        <section class="main__top">

            <div class="main__top__investing__title"><h2>Investing Tips</h2></div>

            <section class="main__top__tipBox">
                <div class="main__top__tipBox__porkBox"><img src="../storage/img/pork.svg"></div>
                <section class="main__top__tipBox__textAndBottonBox">
                    <div class="main__top__tipBox__textAndBottonBox__title"><h3>What is an ETF? </h3></div>
                    <div class="main__top__tipBox__textAndBottonBox__description"><small>By James B, PHD</small></div>
                    <div class="main__top__tipBox__textAndBottonBox__bottonBox"><a class="main__top__tipBox__textAndBottonBox__botton" href="#">LEARN MORE</a></div>
                </section>
                <a class="main__top__tipBox__xBox" href="#"><img src="../storage/img/xicon.svg"></a>
            </section>

        </section>
     



        <section class="main__middle">

            <div class="main__middle__title"><h2>My cards (4)</h2></div>


            <ul class="main__middle__list__cards">

                <a class="main__middle__list__cardsBoxs1" href="#">
                    <div class="main__middle__list__cardsBoxs__top">
                        <img src="../storage/img/iconSimcard.svg">
                        <h5>****6175</h5>
                    </div>
                    <div class="main__middle__list__cardsBoxs__middle">
                        <span>$</span>
                        <h2>47,417</h2>
                    </div>
                    <div class="main__middle__list__cardsBoxs__botton">
                        <img src="../storage/img/iconMastercard.svg" alt="">
                    </div>
                </a>


                <a class="main__middle__list__cardsBoxs2" href="#">
                    <div class="main__middle__list__cardsBoxs__top">
                        <img src="../storage/img/iconSimcard.svg">
                        <h5>****9872</h5>
                    </div>
                    <div class="main__middle__list__cardsBoxs__middle">
                        <span>$</span>
                        <h2>584,40</h2>
                    </div>
                    <div class="main__middle__list__cardsBoxs__botton">
                        <img src="../storage/img/iconVisa.svg" alt="">
                    </div>
                </a>


                <a class="main__middle__list__cardsBoxs3" href="#">
                    <div class="main__middle__list__cardsBoxs__top">
                        <img src="../storage/img/iconSimcard.svg">
                        <h5>****6175</h5>
                    </div>
                    <div class="main__middle__list__cardsBoxs__middle">
                        <span>$</span>
                        <h2>47,417</h2>
                    </div>
                    <div class="main__middle__list__cardsBoxs__botton">
                        <img src="../storage/img/iconPaypal.svg" alt="">
                    </div>
                </a>


                <a class="main__middle__list__cardsBoxs4" href="#">
                    <div class="main__middle__list__cardsBoxs__top">
                        <img src="../storage/img/iconSimcard.svg">
                        <h5>****6175</h5>
                    </div>
                    <div class="main__middle__list__cardsBoxs__middle">
                        <span>$</span>
                        <h2>91,654</h2>
                    </div>
                    <div class="main__middle__list__cardsBoxs__botton">
                        <img src="../storage/img/iconNequi.svg" alt="">
                    </div>
                </a>
            </ul>
        </section>


    </main>





    <footer class="credit__cards__footer">

        <a class="credit__cards__footer__iconbox" href="#">
            <div class="credit__cards__footer__iconbox__icon"><img src="../storage/img/iconHome.svg"></div>
            <!-- <div class="credit__cards__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="credit__cards__footer__iconbox" href="../views/balance.html">
            <div class="credit__cards__footer__iconbox__icon"><img src="../storage/img/iconBalance.svg"></div>
            <!-- <div class="credit__cards__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="credit__cards__footer__iconbox" href="../views/creditCards.html">
            <div class="credit__cards__footer__iconbox__icon"><img src="../storage/img/iconCategoryGreen.svg"></div>
            <div class="credit__cards__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div>
        </a>
 
        <a class="credit__cards__footer__iconbox" href="#">
            <div class="credit__cards__footer__iconbox__icon"><img src="../storage/img/iconNotification.svg"></div>
            <!-- <div class="credit__cards__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="credit__cards__footer__iconbox" href="../index.html">
            <div class="credit__cards__footer__iconbox__icon"><img src="../storage/img/iconProfile.svg"></div>
            <!-- <div class="credit__cards__footer__iconbox__circle"><img src="../storage/img/Ellipse.svg"></div> -->
        </a>
    </footer>
</body>
</html>