<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit cards</title>
    <link rel="stylesheet" href="../css/creditCards.css">

</head>
<body>
    
    <header>

        <section class="credit__cards__top">


            <section class="credit__cards__top__head">
                
                <figure class="credit__cards__top__head__nameBox">
                    <div class="logo"><img src="../storage/img/logoObscure.svg"></div>
                    <div class="name"><h1>INVETO</h1></div>
                </figure>
                <div class="credit__cards__top__head__option">
                    <a href="#"><img src="../storage/img/iconOptionObscure.svg"></a>
                </div>
            </section>

        </header>








    <footer class="credit__cards__footer">

        <a class="credit__cards__footer__iconbox" href="#">
            <div class="credit__cards__footer__iconbox__icon"><img src="../../storage/img/iconHome.svg"></div>
            <!-- <div class="credit__cards__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="credit__cards__footer__iconbox" href="../views/balance.html">
            <div class="credit__cards__footer__iconbox__icon"><img src="../../storage/img/iconBalance.svg"></div>
            <!-- <div class="credit__cards__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="credit__cards__footer__iconbox" href="../views/creditCards.html">
            <div class="credit__cards__footer__iconbox__icon"><img src="../../storage/img/iconCategoryGreen.svg"></div>
            <div class="credit__cards__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div>
        </a>
 
        <a class="credit__cards__footer__iconbox" href="#">
            <div class="credit__cards__footer__iconbox__icon"><img src="../../storage/img/iconNotification.svg"></div>
            <!-- <div class="credit__cards__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="credit__cards__footer__iconbox" href="../index.html">
            <div class="credit__cards__footer__iconbox__icon"><img src="../../storage/img/iconProfile.svg"></div>
            <!-- <div class="credit__cards__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div> -->
        </a>
    </footer>
</body>
</html>