<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
            
        <main>
            <section class="logo">    
                <img src="../../storage/img/logo.svg">
                <h1>WALLET GHOST</h1>
            </section>

            <section class="options">

                    <a href="creditCards.html" class="botton__Activities">
                        <div class="home__main__bottons__Activities__icon"><img src="../storage/img/iconCreditCardSimple.svg"></div>
                        <div class="home__main__bottons__Activities__text"><span>Cards</span></div>    
                    </a>

                    <a href="balance.html" class="botton__Activities">
                        <div class="home__main__bottons__Activities__icon"><img src="../storage/img/iconBalanceSimple.svg"></div>
                        <div class="home__main__bottons__Activities__text"><span>Balance</span></div>    
                    </a>

                    <a href="notifications.html" class="botton__Activities">
                        <div class="home__main__bottons__Activities__icon"><img src="../storage/img/iconMovesSimple.svg"></div>
                        <div class="home__main__bottons__Activities__text"><span>Moves</span></div>    
                    </a>

            </section>

        </main>








    <footer class="home__footer">

        <a class="home__footer__iconbox" href="../views/home.html">
            <div class="home__footer__iconbox__icon"><img src="../../storage/img/iconHomeGreen.svg"></div>
            <div class="home__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div>
        </a>

        <a class="home__footer__iconbox" href="../views/balance.html">
            <div class="home__footer__iconbox__icon"><img src="../../storage/img/iconBalance.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="home__footer__iconbox" href="../views/creditCards.html">
            <div class="home__footer__iconbox__icon"><img src="../../storage/img/iconCreditCardSimpleWhite.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div> -->
        </a>
 
        <a class="home__footer__iconbox" href="../views/notifications.html">
            <div class="home__footer__iconbox__icon"><img src="../../storage/img/iconNotification.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div> -->
        </a>

        <a class="home__footer__iconbox" href="../index.html">
            <div class="home__footer__iconbox__icon"><img src="../../storage/img/iconProfile.svg"></div>
            <!-- <div class="home__footer__iconbox__circle"><img src="../../storage/img/Ellipse.svg"></div> -->
        </a>
    </footer>



</body>
</html>